/* Write your CSS here */
.login-button {
  font-size: 12px;
  border: 0px solid;
  border-radius: 5px;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
}
